* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}

.title{
	text-align: center;
}
body{
    align-items: center;
	text-align: center;
}

.header {
	background-color: pink;
	text-align: center;
	margin: 0 auto;
    width: 85%;
    border: 2px solid rgb(0, 0, 0);
}

.content1 {
    background-color: wheat;
    text-align: center;
	margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 8%;
    right: 8%;
    
}

.content2 {
    background-color: wheat;
    text-align: center;
	margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 8%;
    right: 8%;
    
}

.content3 {
    background-color: gainsboro;
    text-align: center;
	margin: 0 auto;
    position: absolute;
    top: 80%;
    left: 8%;
    right: 8%;
    
}
