.title{
	text-align: center;
}
body{
    align-items: center;
	text-align: center;
}

.header {
	background-color: pink;
	text-align: center;
	margin: 0 auto;
}

.content {
    background-color: gainsboro;
    text-align: center;
	margin: 0 auto;
    position: absolute;
    top: 25%;
    left: 8%;
    right: 8%;
}