*{
   
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik",sans-serif;
  letter-spacing: 0.4px;
 
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color:rgb(105, 93, 116);
  background-image: url('./sam-dan-truong--rF4kuvgHhU-unsplash.jpg');
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  
}



.container{
  width: 50%;
  max-width: 650px;
  background: rgba(234, 231, 231, 0.9);
  padding: 28px;
  margin: 0 28px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px black;
  
}

.title1{
  text-align: center;
  color: rgb(105, 93, 116);
  border-bottom: solid 1px white;
  padding-bottom: 2%;
}
.title2{
  text-align: center;
  color: rgb(105, 93, 116);
  border-bottom: solid 1px white;
}

.tip-calculator{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
  
}


.input-box{
 
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
 
}
.input-box label{
  width: 95%;
  color:rgb(105, 93, 116);
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
  
}

.input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}


input:disabled{
background: rgb(229, 228, 230);
}




@media(max-width: 600px){

  body{
    height:auto;
    background-image: linear-gradient(rgb(105, 93, 116),rgb(162, 138, 185),rgb(105, 93, 116));
    
  }
  .container{
      min-width: 280px;
      
  }

  .input-box{
      margin-bottom: 12px;
      width: 100%;
  }
}


@media(max-width: 480px){

  *{
    font-size: medium;
   
  }

  body{
    height:auto;
    
    background-image: linear-gradient(rgb(105, 93, 116),rgb(162, 138, 185),rgb(105, 93, 116));
 
  }

  .container{
      min-width: 200px;
      padding: 0;
      margin: 0;
  }

  .input-box{
      margin-bottom: 12px;
      width: 100%;
      
  }
  .input-box label{
    font-size: medium;
    
  }

  .input-box input{
    height: 20px;
    width: 95%;
  
  }

}


