*{
    
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
    letter-spacing: 0.4px;
    width:auto;
    
}

body{
    background-color: rgb(105, 93, 116);
}


.input-form{
    background-color: #cfcfef;
    width: auto;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border: 5px solid white;
    border-radius: 5%;
    
}


.header{
    text-align: center;
    font-weight: bold; 
    color: rgb(105, 93, 116);
}

.input{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color:  #cfcfef;
   
}

.box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 2px solid rgb(147, 135, 159);;
    

}

.input-box{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #cfcfef;
    color: #050506;
    box-sizing: border-box;
   
}


.range-box{
 
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
    
}

input[type="range"] {
width: 100%;
cursor: pointer;
caret-color:  rgb(105, 93, 116);
}

input[type="text"]:disabled {
background: #bebbbb;
}



@media screen and (max-width: 480px) {
  .input-form {
    width: 200px;
    
  }
}
 

@media screen and (max-width: 640px)
 {
  .input-form {
    width: 400px;
    
  }
}
 
 
/* For Mobile  View */
@media screen and (max-width: 320px)
 {
  .input-form {
    width: 200px;
    
  }
}
 

